<%- include('../partials/header') %>

<section id="show-page" class="border border-warning bg-light p-1">
    <div class="col row">
        <div class="col-3">Airline: </div>
        <div><%= flight.airline %></div>
    </div>
    <div class="col row">
        <div class="col-3">Airport: </div>
        <div><%= flight.airport %></div>
    </div>
    <div class="col row">
        <div class="col-3">Flight Number: </div>
        <div><%= flight.flightNo %></div>
    </div>
    <div class="col row">
        <div class="col-2">Departs: </div>
        <div><%= flight.departs %></div>
    </div>
</section>
<form class="mt-5" id="" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label>Airport:
        <select class="border border-warning p-1" name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Arrival:
        <input class="border border-warning p-1" type="date" name="arrival">
    </label><br>
</select>
<input type="submit" value="Add">
</form>
<% if (flight.destinations.length) { %>
    <table>
    <thead>
        <tr>
        <th>Airport</th>
        <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
        </tr>
        <% }); %>
    </tbody>
    </table>
<% } else { %>
    <h5></h5>
<% } %>



<%- include('../partials/footer') %>